In [1]:
import pandas as pd
import numpy as np

__closepath__ = 'data/vn_stock/price_volume/close_matrix_20120101-20240101.txt'
__openpath__ = 'data/vn_stock/price_volume/open_matrix_20120101-20240101.txt'
__highpath__ = 'data/vn_stock/price_volume/high_matrix_20120101-20240101.txt'
__lowpath__ = 'data/vn_stock/price_volume/low_matrix_20120101-20240101.txt'
__volumepath = 'data/vn_stock/price_volume/volume_matrix_20120101-20240101.txt'

def load_and_process_data(file_path):
    df = pd.read_csv(file_path, sep='\t')
    df.set_index('time', inplace=True)
    df = df.astype(float)
    return df

close = load_and_process_data(__closepath__)
open = load_and_process_data(__openpath__)
high = load_and_process_data(__highpath__)
low = load_and_process_data(__lowpath__)
volume = load_and_process_data(__volumepath)

In [8]:
close

,A32,AAA,AAM,AAS,AAT,AAV,ABB,ABC,ABI,ABR,...,XHC,XLV,XMC,XMD,XMP,XPH,YBC,YBM,YEG,YTC
time,,,,,,,,,,,,,,,,,,,,,
2012-01-03,0.00,2.65,8.06,0.0,0.00,0.0,0.0,0.00,1.45,0.00,...,0.0,0.00,6.03,0.0,0.00,0.0,19.2,0.00,0.00,0.00
2012-01-04,0.00,2.70,8.21,0.0,0.00,0.0,0.0,0.00,1.70,0.00,...,0.0,0.00,5.81,0.0,0.00,0.0,19.2,0.00,0.00,0.00
2012-01-05,0.00,2.68,8.10,0.0,0.00,0.0,0.0,0.00,1.52,0.00,...,0.0,0.00,5.81,0.0,0.00,0.0,19.2,0.00,0.00,0.00
2012-01-06,0.00,2.63,8.10,0.0,0.00,0.0,0.0,0.00,1.38,0.00,...,0.0,0.00,5.45,0.0,0.00,0.0,19.2,0.00,0.00,0.00
2012-01-09,0.00,2.68,8.10,0.0,0.00,0.0,0.0,0.00,1.48,0.00,...,0.0,0.00,5.81,0.0,0.00,0.0,19.2,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-12-25,31.52,9.33,9.39,8.6,4.85,4.1,8.0,12.74,24.84,11.90,...,27.9,7.08,6.84,8.3,19.78,6.0,7.9,8.59,11.55,77.26
2023-12-26,31.52,9.31,9.37,8.4,4.86,4.1,8.0,12.84,24.74,12.12,...,27.9,7.36,6.67,8.3,19.78,6.0,7.9,8.59,11.10,77.26
2023-12-27,31.52,9.40,9.10,8.5,4.86,4.1,7.9,12.74,25.03,11.95,...,27.9,7.36,6.84,8.0,19.78,6.0,7.9,8.69,11.25,77.26
2023-12-28,27.98,9.42,9.36,8.6,4.90,4.0,7.9,12.74,24.93,12.17,...,27.9,7.36,6.93,8.0,19.78,6.0,7.9,8.69,12.00,77.26
2023-12-29,27.98,9.45,9.33,8.5,4.90,4.1,8.0,12.74,25.32,12.12,...,30.8,7.36,7.02,8.0,19.78,6.0,7.8,8.35,12.05,65.67

In [2]:
price = (high + low + close)/3
vwap = (price * volume).cumsum() / volume.cumsum()
vwap = vwap.round(2)
vwap.fillna(0, inplace=True)
vwap.to_csv('data/vn_stock/price_volume/vwap_matrix_20120101-20240101.txt', sep='\t')

In [3]:
adv20 = volume.rolling(window=20).mean()
adv20.fillna(0, inplace=True)
adv20.to_csv('data/vn_stock/price_volume/adv20_matrix_20120101-20240101.txt', sep='\t')

In [4]:
adv60 = volume.rolling(window=60).mean()
adv60.fillna(0, inplace=True)
adv60.to_csv('data/vn_stock/price_volume/adv60_matrix_20120101-20240101.txt', sep='\t')

In [5]:
adv120 = volume.rolling(window=120).mean()
adv120.fillna(0, inplace=True)
adv120.to_csv('data/vn_stock/price_volume/adv120_matrix_20120101-20240101.txt', sep='\t')

In [6]:
price = (high + low + close)/3
daily_return = price.pct_change()
daily_return.fillna(0, inplace=True)
daily_return.to_csv('data/vn_stock/price_volume/daily_return_matrix_20120101-20240101.txt', sep='\t')